body {
  text-align: center;
}


main {
  background: linear-gradient(
    to bottom,
    #ffd56a 0%,
    #eca33b 25%,
    #da710e 50%,
    #5a2a00 75%,
    #0d0d0d 100%
  );
  padding: 40px 0;
  min-height: 100vh;

}

.acacia {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
}

.banner {
    position: relative;
    overflow:hidden;
}

.bannerText {
    position: absolute;
    transform: translate(-50%, -90%);
    top: 50%;
    left: 50%;
    font-size: 50px;
}

.bannerText h1 {
  font-size: 5rem;
}


.banner img {
    margin-top: -425px;
}

.textBox {
    max-width: 900px;
    margin: 0 auto;
    font-size: 19px;
}

