body {
  text-align: center;
}

.banner {
    position: relative;
    overflow:hidden;
}

.bannerText {
    position: absolute;
    transform: translate(-50%, -90%);
    top: 50%;
    left: 50%;
    font-size: 50px;
}

.banner img {
    margin-top: -425px;
}

.textBox {
    max-width: 900px;
    margin: 0 auto;
    font-size: 19px;
}
